version: 2.1

# Resources defined in this config have a prefix `A-` to avoid conflicts upon combine/merge

jobs:
  A-build:
    docker:
      - image: debian:unstable-slim
    steps:
      - shared-say-hello
      - run: echo Running additional tests for subdirectory A

workflows:
  A-main-workflow:
    jobs:
      - A-build
